/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.row {
   margin-right: -15px;
    margin-right: -115px;
    }
.jumbotron{
    padding-top: 0px;
    background: #fff;
}

.form-control,.input-group-text{
    border: 1px solif #0080ff;
}

table.table-hover tbody tr:hover{
    cursor: pointer;
}
.table {
    width: 110%;
}
